@model IEnumerable<BeFit.Models.Stat>

@{
    ViewData["Title"] = "Statystyki";
}

<h1>Twoje Statystyki (Ostatnie 4 tygodnie)</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Rodzaj ćwiczenia</th>
            <th>Liczba treningów</th>
            <th>Łącznie powtórzeń</th>
            <th>Średnie obciążenie</th>
            <th>Max obciążenie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExerciseTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalReps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgWeight) kg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxWeight) kg
                </td>
            </tr>
        }
    </tbody>
</table>